<!DOCTYPE html>
<html>
	<head>
	<title>SLGS</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Anton|Open+Sans:700,800&display=swap" rel="stylesheet">
  <link rel= "stylesheet" href="/stylesheet/main.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>



	</head>
<body>
	
 <header class="ui block header">
			<a class="text" href="#">SLGS</a>
			<!--<nav>
				<% if(!currentUser) { %>
				<li><a class="text" href="/login">Login</a></li>
				<li><a class="text" href="/signup">Sign Up</a></li>
				<% } else { %>
				<li><a class="text">Signed In As <%= currentUser.username %> </a></li>
				<li><a class="text" href="/logout">Logout</a></li>
				<% } %> 
			</nav> -->
	</header>	
		
	
	