<% pageInfo = 'Change Password/Username' %>

<% include ./partials/header %>


<div class="field">
<div class="two fields">
	<div class="field">
		<a href="/<%= userAuth._id %>/password">Change Password</a>
	</div>
	
	<div class="field">
		<a href="/<%= userAuth._id %>/username">Change Username</a>
	</div>
	
	<div class="field">
		<a>Change Security Questions</a>
	</div>
	
</div>
</div>

<% include ./partials/footer %>

