
<% pageInfo = "login" %>


<% include ./partials/header %>
<!-- <section>
<div class="middle-container" style="background-image: url(https://slgsaanase.org/wp-content/uploads/2017/09/2016-11-01-PHOTO-00001064.jpg)">
</div>
	
	
<div class="ui raised very padded text container segment home">
	  <h1>
		  SLGS
	  </h1>
	 
	  <hr>
	  
	  <h3>
		The Sierra Leone Grammar School
	  </h3>
	  
	  <div class="middle" style="
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ03CLC2zO-oq9t2uOrO_KeLkspmkIUG43no_Y5c0cBNVyfMmhD&s)">
	</div>
</div> -->
  <!--<div class="acronyms">
	  <h1>
		  SLGS
	  </h1>
	 
	  <hr>
	  
	  <h3>
		The Sierra Leone Grammar School
	  </h3>
	  
	  <div class="middle" style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ03CLC2zO-oq9t2uOrO_KeLkspmkIUG43no_Y5c0cBNVyfMmhD&s)">
	</div>
	</div>
	
<div class="tags">
	 <h6>
		 By signing in you agreed to SLGS <span>terms of use</span>
	</h6>
	  <form action='/login' method='POST'>
		  
	  <div class="col">
		<div class="icon">
		  <a href="/auth/facebook" class="fb btn">
           <i class="fa fa-facebook-official" aria-hidden="true"></i> Signin with Facebook
          </a>
		 </div>
		<div class="icon">
        <a href="#" class="twitter btn">
          <i class="fa fa-twitter fa-fw"></i> Signin with Twitter
        </a>
		 </div>
		<div class="icon">
         <a href="#" class="google btn">
          <i class="fa fa-google" aria-hidden="true"></i>  Signin with Google
        </a>
		 </div>
      </div>
	
		  
		  
	  <hr class="left">
	  <br>
      
      <div class="col">
        <input type="text" name="username" placeholder="Net ID">
        <input type="password" name="password" placeholder="Password">
		  <div class="forget">
			  <a class="hr_forgot" href="#">
				  FORGOT USERNAME
			  </a>
			   <div class="divider"></div>
			   <a class="hr_forgot a_1" href="#">
				  FORGOT PASSWORD
			  </a>
		  </div>
          <button class="button" type="submit">Submit</button>
	     <div class="dont">
		    <a href="/signup">Don't have an account? </a> 
		  </div>
	</div>
</form>
</div> 
</section> -->
<%  include ./partials/footer %>