<% pageInfo = 'Change Password' %>

<% include ./partials/header %>

 <form action="/<%= password._id %>/password" method="POST">
  <div class="ui dividing header">
	<div class="field">
		<div class="two fields">
			<div class="field">
				<label>Current Password</label>
		        <input type="password" name="old_password" placeholder="old password">
			</div>
		</div>
	  </div>
    </div>
	 
	  <div class="ui dividing header">
	<div class="field">
		<div class="two fields">
			<div class="field">
				<label>New Password</label>
		        <input type="password" name="new_password" placeholder="new password">
			</div>
		</div>
		
	  </div>
	
    </div>
	 
	 <button>Submit</button>
</form>


<% include ./partials/footer %>


